#scoreTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#scoreTable td, #scoreTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#scoreTable tr:nth-child(even){background-color: #f2f2f2;}

#scoreTable tr:hover {background-color: #ddd;}

#scoreTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    padding: 28px;
}
